.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 6fr);
  gap: 2em;
  margin-top: 1rem;
  align-content: center;
}

.grid-tuition {
  box-shadow: 3px 2px 4px 4px rgba(0, 0, 0, 0.2);
  height: 12rem;
  width: 20rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

#title{
    padding-left:0.5rem ;
    text-align: left;
    border-left: 5px solid black;
    margin-left: 0.5rem;
    padding-bottom: 0;
    margin: 0.2rem;
}
#sub{
    padding-left:0.5rem ;
    text-align: left;
    border-left: 5px solid black;
    margin-left: 0.5rem;
    padding-bottom: 0;
    margin: 0.2rem;
}


.toiletories {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 15rem;
  width: 15rem;
  text-align: left;
}
.feeding {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 15rem;
  width: 15rem;
  text-align: left;
}
.transport {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 15rem;
  width: 15rem;
  text-align: left;
}
.enrolment {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 15rem;
  width: 15rem;
  text-align: left;
}
.exam {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: 15rem;
  width: 15rem;
  text-align: left;
}
