.main-container {
  margin: 0.5rem 0;

}

.fees-container{
  border: 1px solid #eeeeee;
  padding: 1rem 2rem;
  width: 100%;
}
.fees-container>h2{
  text-align: left;
  margin: 0 0 8px 0;
  font-size: 1.5rem;
  font-weight: normal;

}


.categories-box{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
  flex-wrap: wrap;
}





/* Tablets */
@media screen and (min-width:768px) {
  
}


/* Laptops and Desktop */
@media screen and (min-width:1024px) {
  .categories-box{
    display: flex;
    flex-direction: row;
    gap:0.8rem;
    flex-wrap: wrap;
  }
}
